<configuration>
    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>localhost</graylogHost> <!-- Or 'graylog' if app is in Docker -->
        <port>12201</port>
        <includeFullMdc>true</includeFullMdc>
        <additionalField>application=MySpringBootApp</additionalField>
    </appender>

    <root level="INFO">
        <appender-ref ref="GELF"/>
    </root>
</configuration>